<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Load the properties files with the config info. -->
    <context:property-placeholder location="classpath:config.properties"/>
            
    <!-- Scan for @Component, @Autowired and such. -->
    <context:annotation-config />
    <context:component-scan base-package="org.reyes.googlemapsdirections"/>

    <!-- Create the data provider. Inject properties from the properties file. -->
	<bean id="dataProvider" class="org.reyes.googlemapsdirections.providers.GoogleMapDirectionsDataProvider">
        <property name="apiKey" value="${gmd.google.maps.apikey}"/>
        <property name="apiBaseUrl" value="${gmd.google.maps.baseurl}"/>
	</bean>

</beans>